<!DOCTYPE html>
<html ng-app="ExampleApp">
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation-flex.min.css">
  </head>
  <body ng-controller="ExampleController">
    <section>
      <h1>An example with element directives.</h1>
      <s-table class="hover" s-model-list="countries">
        <s-thead>
          <s-row>
            <s-column>Selected?</s-column>
            <s-column>Name</s-column>
            <s-column>Code</s-column>
            <s-column>Dial</s-column>
          </s-row>
        </s-thead>
        <s-tbody>
          <s-row s-row-model="something">
            <s-cell>One</s-cell>
            <s-cell>{{something.foo}}</s-cell>
            <s-cell>{{model.a}}</s-cell>
          </s-row>
          <s-row-repeat>
            <h1>HI</h1>
            <s-cell><input type="checkbox" ng-model="model.selected"></s-cell>
            <s-cell><h4>{{model.name}}</h4></s-cell>
            <s-cell>{{model.code}}</s-cell>
            <s-cell><p>{{model.Dial}}</p><button ng-click="myAction(model)">Click to alert</button></s-cell>
          </s-row-repeat>
        </s-tbody>
      </s-table>
    </section>
    <script type="application/javascript" src="./bower_components/angular/angular.js"></script>
    <script type="application/javascript" src="./src/simple-table-directives.js"></script>
    <script type="application/javascript" src="./src/example-app.js"></script>
    <script type="application/javascript" src="./src/example-controller.js"></script>
    <script type="application/javascript" src="./src/iso-countries.js"></script>
  </body>
</html>

